body {
    background-color: rgb(235, 214, 226);
    border: solid rgb(112, 20, 77) 2px;
    border-radius: 45px;
   padding: 1em;
}

h1 {
    text-align: center;
    color: rgb(153, 37, 124);
}
.texto{
    flex: 1 1 45%;
    padding-right: 20px;
    margin-bottom: 20px;
}

.texto p {
    font-size: 1.5em;
    text-align: justify;
}

.texto li {
    font-size: 1.5em;
    text-align: justify;
}
.imagem {
    flex: 1 1 45%;
    text-align: center;
    margin-top: 20px;
}

.imagem img {
    width: 800px;
    height: auto;
    border: 2px solid #ff66b2;
    border-radius: 10px;
}

.sacao{
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;

}